<div id="confirm_popup" class="confirm_overlay">
    <div class="modal_content">
        <div class="confirm_popup_header">
            <h2>Konfirmasi Penghapusan</h2>
        </div>
        <div class="confirm_popup_content">
            <p class="confirm_message"></p>
        </div>
        <div class="confirm_popup_btn">
            <button class="btn" id="cancelBtn">Tidak</button>
            <button class="btn" id="confirmBtn">Ya</button>
        </div>
    </div>
</div>