<div class="box3">
    <div class="stats_card">
        <div class="icon"> <img src="/img/asset/users.svg" alt=""> </div>
        <div class="info">
            <h1 class="member_stats">0
            </h1>
            <span>Total Members</span> 
        </div>
    </div>
    <div class="stats_card">
        <div class="icon"> <img src="/img/asset/users.svg" alt=""> </div>
        <div class="info">
            <h1 class="post_stats"></h1>
                <span>Total Post</span>
        </div>
    </div>
    <div class="stats_card">
        <div class="icon"> <img src="/img/asset/users.svg" alt=""> </div>
        <div class="info">
            <h1 class="visitor_stats">10<span>Total Visitor</span></h1>
        </div>
    </div>
</div>