<div class="side_bar">
    <div class="profile">
        <div class="profile_info">
            <img src="/profile.webp" alt="" id="profile_avatar">
            <p class="self_name"></p>
            <p class="self_email"></p>
        </div>
    </div>
    <div class="side_bar_content">
        <div class="menu_item"> <img src="/img/asset/home(1).svg" alt="">
            <a href="/page/dashboard">Dashboard</a>
        </div>
        <div class="menu_item"> <img src="/img/asset/file-text.svg" alt="">
            <a href="/page/attendance">Absensi</a>
        </div>
        <div class="menu_item"> <img src="/img/asset/users.svg" alt="">
            <a href="/page/manageAccount">Manage Account</a>
        </div>
        <div class="menu_item"> <img src="/img/asset/send.svg" alt="">
            <a href="/page/managePost">Manage Posts</a>
        </div>
        <div class="menu_item"> <img src="/img/asset/calendar.svg" alt="">
            <a href="/page/schedule">Set a Schedule</a>
        </div>
        <div class="menu_item"> <img src="/img/asset/log-out.svg" alt="">
            <a href="/api/logout">Logout</a>
        </div>
    </div>
</div>
