<div class="overlay_success hide">
    <div class="popup_success">
        <img src="/img/asset/check-circle.svg" alt="check-circle">
        <h1>Success</h1>
        <p class="success_message"></p>
        <button id="btn_ok">Ok</button>
    </div>
</div>