.about_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    width: 100%;
    height: 90vh;
}

.overlay_img {
    position: absolute;
    animation: overlayImg 2s ease-in-out;
    transform: translate(80%, -15%);
    height: 60vw;
    opacity: 0.5;
    z-index: -1;
}

.box2.about {
    left: 5%;
    top: 15%;
    width: 500px;
    animation: fadeIn 2s ease-in-out;
}

.about_left {
    display: flex;
    flex-direction: column;
    height: 470px;
    padding-top: 20px;
    padding-left: 100px;
    animation: fadeIn 2s ease-in-out;
}


.about_left p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 125%;
    font-size: 1.3rem;
    width: 65%;
    margin-bottom: 15px;
    color: #182645;
}

.about_left button {
    border: none;
    background-color: #182645;
    color: white;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.about_right {
    padding: 20px;
}

.about_right img {
    filter: drop-shadow(17px 15px 5px #182645);
    animation: fadeIn 2s ease-in-out;
    border-radius: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes overlayImg{
    from{
        transform: translate(8%, -5%);
        opacity: 1;
        height: 50vw;
    }to{
        transform: translate(80%, -15%);
        height: 60vw;
    }
}