* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
    min-height: 100vh;
    background-color: #EDF3FF;
}

a {
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* SIDE BAR */
.side_bar {
    background-color: #223462;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile {
    padding: 10px;
    margin-bottom: 10px;
}

.profile_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    color: white;
}

.profile_info img {
    border-radius: 50%;
    width: 150px;
    cursor: pointer;
}

.side_bar_content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 15px;
}

.side_bar_content .menu_item {
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 10px;
    color: white;
    font-size: 1.3rem;
}

.menu_item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.menu_item:hover {
    background-color: #14244d;
}

.menu_item>img {
    width: 25px;
}

/* END OF SIDE BAR */

#page_container {
    padding: 15px;
    width: 100%;
    height: 100%;
}

/* DASHBOARD LAYOUT */

#dashboard_page {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    /* padding: 5px; */

}

.box2 {
    padding: 5px;
}

.box2,
.box3,
.box4,
.box5,
.box6 {
    background-color: white;

}

.box3 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.stats_card {
    display: flex;
    gap: 5px;
    border-radius: 5px;
    background-color: #D0DBF7;
    padding: 10px;
}

.stats_card .icon img {
    width: 30px;
}

.stats_card .icon {
    background-color: #61729D;
    border-radius: 5px;
    padding: 5px;
}

.stats_card .info h1 {
    font-size: 1.2rem;
}

.stats_card .info h1 span {
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
}

.dashboard_page_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    gap: 10px;
}

.box4 {
    padding: 5px;
    grid-column: span 2;
}

.card_content img {
    width: 100px;
    cursor: pointer;
}

.box4>div {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;

}

.card_content {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.card_content>div {
    align-self: center;

}

.card_content button {
    display: block;
    cursor: pointer;
    color: white;
    width: 70px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-top: 5px;
}

.btn_setuju {
    background-color: rgb(49, 223, 49);
}

.btn_setuju:hover {
    background-color: rgb(37, 164, 37);
}

.btn_tolak {
    background-color: rgb(250, 24, 24);
}

.btn_tolak:hover {
    background-color: rgb(188, 18, 18);
}

.box5 {
    padding: 5px;
    width: 100%;
    height: 100%;
}


.box6 {
    padding: 10px;
    grid-column: span 2;
}

/* END OF DASHBOARD LAYOUT */


.noneActive {
    display: none !important;
}

/* APPROVAL PAGE */

#approval_page {
    display: grid;
    gap: 10px;
}

.approval_page_content {
    display: flex;
    padding: 10px;
    gap: 10px;
    background-color: white;
}

/* END OF APPROVAL PAGE */

/* SCHEDULE PAGE */
#schedule_page {
    display: grid;
    gap: 10px;
    /* background-color: white; */
}

.schedule_page_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    /* background-color: white; */
}

.schedule_page_content>div {
    background-color: white;
}

.schedule_page_content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.days {
    display: flex;
    justify-content: space-around;
}

.calender_container {
    color: #695c4d;
    padding: 10px;
}

.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 40px);
}


.calender>div {
    border: 1px solid #C6C5CD;
    background-color: #dce6fb;
    padding-left: 2px;
    font-size: 0.8rem;
}

.calender>div:hover {
    cursor: pointer;
    background-color: #c5d7fe;
}

#calenderA {
    padding: 15px;
    padding-top: 0;
}

.schedule_details {
    color: #695c4d;
    padding: 10px;
}

.schedule_control_form label {
    display: block;
    margin-bottom: 5px;
}

.schedule_control_form div {
    margin-top: 5px;
}

.schedule_control_form input,
textarea {
    padding: 5px;
    width: 100%;
}

textarea {
    height: 50px;
}


.schedule_control_form button {
    color: white;
    background-color: #2c3e50;
    border: none;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
}

.schedule_control_form button:hover {
    background-color: #1c2f41;
}

.schedule_details_content h3 {
    font-size: 1.3rem;
}

.schedule_details_content {
    background-color: #C6C5CD;
    padding: 5px;
}

#btn_edit_schedule,
#btn_delete_schedule {
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 5px;
    width: 100px;
    padding: 10px;
}

.schedule_details_description {
    text-align: center;
    font-size: 1.2rem;
}

#btn_edit_schedule {
    background-color: #223462;
}

#btn_edit_schedule:hover {
    background-color: #182d62;
}


#btn_delete_schedule {
    background-color: #c0392b;
}

#btn_delete_schedule:hover {
    background-color: #c02c1c;
}

/* END OF SCHEDULE PAGE */

/* MANAGE ACCOUNT */

#manage_account_page {
    position: relative;
}

#manage_account_page table {
    background-color: white;
    width: 100%;
    /* border: 1px solid black; */
}

.td_photo img {
    border-radius: 5px;
}

table td,
th {
    padding: 5px;
    text-align: center;
}

.td_action img {
    margin-right: 5px;
    width: 20px;
}

.manage_account_page_header {
    background-color: white;
    margin-bottom: 10px;
}

/* END OF MANAGE ACCOUNT */

/* POP UP UPDATE */

/* Styling untuk popup update - sederhana dan rapi */

.popup_update {
    display: block;
    /* Sembunyikan secara default, gunakan JavaScript untuk menampilkan */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    max-width: 90%;
}

.popup_update.noneActive {
    display: none;
}

/* Jika ingin menampilkan popup, hapus class noneActive atau ubah display ke block/flex */

.popup_update div {
    margin-bottom: 15px;
}

.popup_update label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.popup_update input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup_update button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.popup_update button:hover {
    background-color: #0056b3;
}

/* Opsional: Overlay background untuk popup */
.popup_overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


/* END OF POP UP UPDATE */
.card_detail {
    display: flex;
    max-width: 800px;
    z-index: 1;
    right: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.container_detail {
    display: flex;
    justify-content: center;
    width: 100%;
}

.left_card {
    flex: 2;
    padding: 20px;
}

.left_card h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.left_card p {
    margin: 5px 0;
    font-size: 14px;
    color: #7f8c8d;
}

.card_detail_content {
    overflow: scroll;
    scrollbar-width: none;
}

.card_detail_content p {
    font-size: 16px;
    line-height: 1.6;
    color: #34495e;
    margin-top: 15px;
}

.btn_group {
    margin-top: 20px;
}

.btn_delete_content {
    background-color: #e74c3c;
    /* Red for delete button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn_delete_content:hover {
    background-color: #c0392b;
    /* Darker red on hover */
}

/* Right Card Section */
.right_card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ecf0f1;
    /* Light gray background */
    position: relative;
}

.close_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.close_icon:hover {
    opacity: 1;
}

.thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* POP UP DETAIL */

.mark {
    color: white;
    background-color: #223462 !important;
}

.pop_up_stats {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 44%;
    background-color: rgb(254, 250, 250);
    width: 500px;
}

/* EDIT PROFILE POP UP */
.modal_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Box modal */
.modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal_header h2 {
    margin: 0;
}

.close_btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.form_group {
    text-align: start;
    margin-bottom: 15px;
}

.form_group label {
    display: block;
    margin-bottom: 5px;
}

.form_group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal_footer {
    text-align: right;
    margin-top: 20px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.btn_secondary {
    background-color: #ccc;
}

.btn_primary {
    background-color: #14244d;
    color: white;
}

.confirm_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.confirm_popup_header h2 {
    margin: 0 0 10px 0;
    color: #dc3545;
    /* Warna merah untuk peringatan */
}

.confirm_popup_content p {
    margin: 0 0 20px 0;
}

.confirm_popup_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#confirmBtn {
    background-color: #14244d;
    color: white;
}

#cancelBtn {
    background-color: #dc3545;
    color: white;
}

.icon_changeStatus,
.icon_edit {
    cursor: pointer;
}

.icon_edit:hover {
    transform: scale(1.2);
}

.icon_changeStatus:hover {
    transform: scale(1.2);
}

th {
    background-color: #14244d;
    color: white;
    border-collapse: collapse;
}

.overlay_success {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup_success {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 70px;
}

.popup_success img {
    width: 50px;
}

.popup_success h1 {
    font-size: 3rem;
}

.popup_success button {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #182645;
    padding: 10px;
    width: 100px;
    margin-top: 15px;
}

.popup_success button:hover {
    background-color: #14254a;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.505);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 45px;
    height: 45px;
    border: 6px solid #ccc;
    border-top-color: #73749c;
    /* biru */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.hide{
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}