header{
    position: fixed;
    z-index: 999;
    width: 100%;
}

.background_img {
    z-index: -1;
    width: 100%;
    object-fit: cover;
}

.auth_main{
    display: flex;
    align-items: center;
}

.popup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.679);
    border-radius: 10px;
    width: 700px;
    padding: 25px;
    margin: 0 auto;
}

.auth_card {
    z-index: 1;
    overflow: hidden;
}


.auth_card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200%;
    /* transform: translateX(0%); */
    /* background-color: aqua; */
}

.auth_card label {
    display: block;
    margin-bottom: 5px;
}

.auth_card input {
    margin-bottom: 20px;
    background-color: #ffff;
    border: none;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border-radius: 5px;
    outline: none;
}

.popup::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background:
        linear-gradient(135deg, #9b99c1a1, #9C9EC4);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}

.auth_card button {
    padding: 5px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    background-color: #223562;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}



.auth_card button:hover {
    background-color: #142039;
}

.auth_card h1 {
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

.auth>div {
    padding: 20px;
}

.auth h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.popup>img {
    width: 355px;
    z-index: 1;
    filter: drop-shadow(5px 5px 10px #000000);
}


.geserKiri {
    animation: slideLeft 1.2s ease-in-out;
    /* transform: translateX(-50%); */
}

.geserKanan {
    animation: slideRight 1.2s ease-in-out;
    /* transform: translateX(50%); */
}

.slide {
    /* animation: slide 1.2s ease-in-out; */
    transform: translateX(-50%);
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #223562af;
}

#bg-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.input_container {
    position: relative;
}

.icon {
    position: absolute;
    top: -3%;
    right: 90%;
    background-color: #223562;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 6px;
}

.triger {
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;

}



@keyframes slideLeft {
    from {
        opacity: 0.5;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes slideRight {
    from {
        opacity: 0.5;
        transform: translateX(0);
    }

    to {
        opacity: 1;
        transform: translateX(-50%);
    }
}

/* END OF LOGIN & REGISTER */