* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

header nav {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background-color: transparent;
    height: max-content;
    z-index: 2;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100%;
}

ul a {
    color: rgb(237, 235, 235);
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid transparent;
}

a {
    text-decoration: none;
}

.left_ul {
    z-index: 10;
    color: rgb(255, 254, 254);
}

li:hover {
    background-color: transparent;
    border-color: rgba(239, 238, 238, 0.722);
    border-radius: 20px;
}

ul #sign_up {
    background-color: #182645;
    border-radius: 15px;
}

ul #sign_up a {
    color: white;
    text-transform: uppercase;
}

.hero_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background {
    position: absolute;
    top: 0;
    background-image: url('/img/asset/Process_Paket\ Cetak\ &\ Blok\ 8RP\ White\ Full\ Photo\ Color\ \(tambahan\)_8RP_IMG_8742-.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: sepia(100%) brightness(56%) hue-rotate(183deg);
    -webkit-filter: sepia(100%) brightness(56%) hue-rotate(183deg);
    -moz-filter: sepia(100%) brightness(56%) hue-rotate(183deg);
}

body {
    overflow: hidden;
}

.hero_section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100vh;
    background:
        linear-gradient(to bottom, transparent 70%, rgba(23, 23, 23, 0.937) 100%),
        linear-gradient(135deg, #21305B);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

.title {
    font-size: 5rem;
    transform: scale(1.3);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 70px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    /* padding-left: 150px; */
    /* padding-top: 70px; */
}

.info p {
    color: white;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 5px;
}

#btn_enter_information{
    font-size: 25px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
    width: 150px;
    padding: 10px;
    position: absolute;
    top: 65%;
    left: 48%;
    color: #182645;
}

#btn_enter_information:hover{
    background-color: rgb(224, 224, 224);
}

#logo {
    /* position: absolute; */
    bottom: -15%;
    right: -15%;
    width: 40vw;
    z-index: -1;
    filter: brightness(56%);
    position: fixed;
}

.madding_content {
    /* background-color: aqua; */
    display: grid;
    justify-content: center;
    gap: 20px;
    row-gap: 10px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 200px 200px;
}

.card_content>img {
    cursor: pointer;
    width: 100%;
    max-height: 100%;
    border-radius: 0 50px 0 0;
}

.madding_content>div {
    position: relative;
    margin-bottom: 35px;
}

.card_content>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card_content>div img {
    /* /* width: 75px; */
    
    height: 50px;
}

.card_content>div p {
    font-size: 1rem;
    font-weight: 900;
}

.card_content>div {
    background-color: #1f3676;
    color: white;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    position: absolute;
    /* left: %; */
    bottom: -15%;
    border-radius: 20px;
}

.madding_wrapper {
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 999;
    background-color: #1f367600;
}

.search_controll{
    display: flex;
    align-items: center;
}

.search_controll img{
    cursor: pointer;
   width: 30px;
}


.madding_controll>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
}

button {
    padding: 10px;
    cursor: pointer;
    width: 70px;
    border: none;
    border-radius: 10px;
}

.controll_panel>div>button {
    background-color: #1f3676;
    color: white;
    padding: 10px;
    width: 70px;
    border: none;
    border-radius: 10px;
}

.madding_controll input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 250px;
}

.general_controll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.general_controll button {
    width: max-content;
    border-bottom: 1px solid rgb(227, 223, 223);
    font-size: 1.5rem;
    border-radius: 0;
    color: white;
    font-weight: bold;
    background-color: transparent;
}

.shorting_controll {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.noneActive{
    display: none !important;
}

.brightnes {
    filter: brightness(45%);
}

.active {
    display: block;
}

.container_detail {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    color: white;
    z-index: 999;
     width: 100%;
     height: 100%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.701);
}

.card_detail {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 70%;
    width: 80%;
}

.left_card {
    padding: 10px;
    width: 40%;
    max-height:500px;
}

.left_card>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.right_card {
    position: relative;
}

.right_card .close_icon {
    position: absolute;
    cursor: pointer;
    top: 1%;
    right: -3%;
}

.close_icon:hover{
    background-color: rgb(209, 207, 207);
}

.right_card>.thumbnail {
    max-width: 400px;
    max-height: 400px;
    border-radius: 0 60px 0 0;
}

.right_card>p {
    font-size: 1.2rem;
}

.card_detail_content {
    /* background-color: blue; */
    overflow: auto;
    scrollbar-width: none;
    max-height: 70%;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.634);
    padding: 10px;
}

.card_detail_content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.btn_group button {
    width: 100px;
    color: white;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn_edit {
    background-color: #1d336f;
}

.btn_delete {
    background-color: rgb(230, 31, 31);
}

@keyframes fade-in {
    from{
        transform: translateX(-15%);
        opacity: 0.5;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-logo {
    from{
        opacity: 0.5;
        transform: translate(-40%, -40%) scale(1.2);
        
    }to{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fade-in-all {
    from{
        opacity: 0.6;
    }to{
        opacity: 1;
    }
}


@keyframes fade-in-maddingWrapper{
    from{
       
        opacity: 0.5;
        transform: translateY(60%);
    }to{
        opacity: 1;
         transform: translateY(0);
    }
}

@keyframes fade-in-detailContainer {
    from{
        opacity: 0.3;;
    }to{
        opacity: 1;
    }
}

.container_detail{
    animation: fade-in-detailContainer 1s ease-in-out;
}

.madding_wrapper{
    animation: fade-in-maddingWrapper 1s ease-in-out;
}
#logo{
    animation: fade-in-logo 1.2s ease-in-out;
}

.info{
    animation: fade-in 1.2s ease-in-out;
    transition: all;
}

main{
    animation: fade-in-all 1.2s ease-in-out;
}