/* Aturan dasar untuk organigram_content */
*{
    scrollbar-width: none;
}

.organigram_content>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    height: 90vh;
}

.orang1,
.orang2 {
    transform: translateY(-5%);
    height: 48vw;
}


.box1.organigram>h1 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 17vw;
    font-weight: 50;
    letter-spacing: 10px;
    text-transform: uppercase;
    transform: scale(1.3);
}

.box1.organigram h1:nth-of-type(1) {
    -webkit-text-fill-color: #182645;
    z-index: -1;
}

.box1.organigram h1:nth-of-type(2) {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.895);
    -webkit-text-stroke-width: 2px;
    z-index: 1;
}

.organigram_content.content .logo.organigram {
    top: 45%;
    left: 48%;
    width: 120px;
}

.organigram_content>div h2 {
    position: absolute;
    font-size: 3rem;
    top: 25%;
    right: 44%;
    color: #182645;
    font-family: Arial, Helvetica, sans-serif;
}

#btn_read_more_organigram{
    display: none;
    top: 75%;
}

.logo.organigram {
    position: absolute;
    top: 45%;
    right: 20%;
    z-index: 2;
    width: 70px;
}

.organigram_content #btn_read_more {
    display: none;
}

/* Kelas umum untuk nama */
.nama,
.nama2,
.nama3 {
    background-color: #f4f5f6af;
    text-align: center;
    color: #182645;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 25px;
    position: absolute;
    font-size: 1.5rem;
    width: 250px;
    z-index: 1;
    display: none;
}

/* Kelas umum untuk ketua */
#ketua {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
}

/* PERUBAHAN LAYOUT 1 */
.organigram_content.img1 .nama {
    display: block;
    background-color: #182645;
    color: white;
    top: 55%;
    right: 25%;
}

.organigram_content.img1 #organigram {
    display: none;
}

.organigram_content.img1 .orang2 {
    display: none;
}

.organigram_content.img1 .box1.organigram>h1:nth-of-type(2){
    opacity: 0;
}

.organigram_content.img1 .box1.organigram>h1:nth-of-type(1) {
    top: 30%;
    left: 25%;
    z-index: -5;
}

.organigram_content.img1 #ketua {
    right: 42%;
    top: 30%;
    width: 50px;
    color: white;
}

.organigram_content.img1 #btn_read_more {
    display: none;
}

/* PERUBAHAN LAYOUT 2 */
.organigram_content.img2 #organigram {
    display: none;
}

.organigram_content.img2 .orang1 {
    position: absolute;
    transform: translate(42%,-1%);
    inset: 0;
    opacity: 0;
    pointer-events: none;
}

.organigram_content.img2 .orang2 {
    transform: translate(120%,-10%) scale(1.2);
}

.hero_section.img2::before {
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img2 .box1.organigram>h1 {
    top: 30%;
    left: 10%;
    z-index: -5;
}

.organigram_content.img2 #ketua {
    right: 40%;
    top: 35%;
    color: white;
}

.organigram_content.img2 .nama {
    display: block;
    background-color: #182645;
    color: white;
    top: 60%;
    right: 60%;
}

.organigram_content.img2 .logo.organigram {
    top: 50%;
    left: 40%;
}

/* PERUBAHAN LAYOUT 3 */
.organigram_content.img3 #organigram {
    display: none;
}

.organigram_content.img3 .orang1 {
    display: none;
}

.organigram_content.img3 .orang2 {
    height: 45vw;
    transform: translateX(5%);
}

.hero_section.img3::before {
      transform: translateX(-40%);
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img3 .box1.organigram>h1 {
    top: 20%;
    left: 15%;
    z-index: -1;
}

.organigram_content.img3 .box1.organigram h1:nth-of-type(2){
    display: none;
}

.organigram_content.img3 .nama {
    display: block;
    background-color: #182645;
    color: white;
    top: 60%;
    right: 21%;
}

.organigram_content.img3 #ketua {
    right: 20%;
    top: 35%;
    color: #182645;
}

.organigram_content.img3 .logo.organigram {
    top: 25%;
    left: 62%;
}

/* PERUBAHAN LAYOUT 4 */
.organigram_content.img4 #organigram {
    display: none;
}

.organigram_content.img4 .orang1 {
    display: none;
}

.hero_section.img4::before {
    width: 100%;
    transform: translateX(-40%);
       background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img4 .box1.organigram>h1 {
    top: 20%;
    left: 55%;
    z-index: -5;
}

.organigram_content.img4 .box1.organigram h1:nth-of-type(2){
    display: none;
}


.organigram_content.img4 .nama {
    display: block;
    background-color: #182645;
    color: white;
    top: 70%;
    right: 33%;
}

.organigram_content.img4 .orang2 {
    height: 45vw;
    transform: translateX(60%);
}

.organigram_content.img4 #ketua {
    left: 15%;
    top: 25%;
    color: white;
}

.organigram_content.img4 .logo.organigram {
    top: 18%;
    left: 14.5%;
}

/* PERUBAHAN LAYOUT 5 */
.organigram_content.img5 #organigram {
    display: none;
}

.organigram_content.img5 .orang1 {
    display: none;
}

.hero_section.img5::before {
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(0 0, 55% 0, 45% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img5 .nama {
    display: block;
    background-color: #182645;
    color: white;
    top: 50%;
    right: 28.3%;
}

.organigram_content.img5 .orang2 {
    height: 45vw;
    transform: translateY(-1%);
}

.organigram_content.img5 #ketua {
    left: 55%;
    top: 25%;
    color: #182645;
}

.organigram_content.img5 .box1.organigram>h1 {
    top: 40%;
    left: 2%;
    z-index: -1;
}

.organigram_content.img5 .box1.organigram>h1:nth-of-type(2){
    display: none;
}

.organigram_content.img5 .logo.organigram {
    top: 60%;
    left: 54.5%;
}

/* PERUBAHAN LAYOUT 6 */
.organigram_content.img6 #organigram {
    display: none;
}

.organigram_content.img6 .orang1 {
    display: none;
}

.organigram_content.img6 .box1.organigram>h1 {
    display: none;
}

.organigram_content.img6 #ketua {
    left: 15%;
    top: 25%;
    color: white;
    font-size: 10rem;
}

.organigram_content.img6 .orang2 {
    height: 40vw;
    transform: translate(88%, 10%);
}

.hero_section.img6::before {
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(20% 0, 80% 0, 60% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img6 .logo.organigram {
    top: 33%;
    left: 54%;
}

.organigram_content.img6 .nama {
    display: block;
    top: 70%;
    right: 30%;
}

.organigram_content.img6 .nama2 {
    display: block;
    top: 80%;
    right: 2%;
}

/* PERUBAHAN LAYOUT 7 */
.organigram_content.img7 #organigram {
    display: none;
}

.organigram_content.img7 .orang1 {
    display: none;
}

.organigram_content.img7 .box1.organigram>h1 {
    display: none;
}

.hero_section.img7::before {
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(20% 0, 80% 0, 60% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img7 .nama {
    display: block;
    top: 75%;
    right: 55%;
}

.organigram_content.img7 .nama2 {
    display: block;
    top: 80%;
    right: 20%;
}

.organigram_content.img7 .orang2 {
    height: 45vw;
    transform: translate(5%, 10%);
}

.organigram_content.img7 #ketua {
    left: 20%;
    top: 15%;
    color: white;
    font-size: 10rem;
}

.organigram_content.img7 .logo.organigram {
    top: 50%;
    left: 50%;
}

/* PERUBAHAN LAYOUT 8 */
.organigram_content.img8 #organigram {
    display: none;
}

.hero_section.img8::before{
    transform: translateX(40%);
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(20% 0, 80% 0, 60% 100%, 0 100%);
}

.organigram_content.img8 .orang1 {
    display: none;
}

.organigram_content.img8 .box1.organigram>h1 {
    display: none;
}

.organigram_content.img8 .nama {
    display: block;
    top: 75%;
    right: 20%;
}

.organigram_content.img8 .nama2 {
    display: none;
}

.organigram_content.img8 .orang2 {
    height: 45vw;
    transform: translate(110%, 10%);
}

.organigram_content.img8 #ketua {
    z-index: 1;
    left: 10%;
    top: 15%;
    color: #182645;
    font-size: 10rem;
}

.organigram_content.img8 .logo.organigram {
    top: 35%;
    left: 25%;
}

/* PERUBAHAN LAYOUT 9 */
.organigram_content.img9 #organigram {
    display: none;
}

.organigram_content.img9 .orang1 {
    display: none;
}

.organigram_content.img9 .box1.organigram>h1 {
    display: none;
}

.hero_section.img9::before {
    width: 80%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(30% 0, 100% 0, 80% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img9 .orang2 {
    height: 45vw;
    transform: translate(25%, 10%);
}

.organigram_content.img9 .nama {
    display: block;
    top: 75%;
    right: 43%;
}

.organigram_content.img9 .nama2 {
    display: none;
}

.organigram_content.img9 #ketua {
    left: 40%;
    top: 30%;
    color: white;
    font-size: 10rem;
}

.organigram_content.img9 .logo.organigram {
    top: 40%;
    left: 79%;
}

/* PERUBAHAN LAYOUT 10 */
.organigram_content.img10 #organigram {
    display: none;
}

.organigram_content.img10 .orang1 {
    display: none;
}

.organigram_content.img10 .box1.organigram>h1 {
    display: none;
}

.hero_section.img10::before {
    width: 80%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img10 .orang2 {
    height: 45vw;
    transform: translate(0, 2%);
}

.organigram_content.img10 .nama {
    display: block;
    top: 75%;
    right: 70%;
}

.organigram_content.img10 .nama2 {
    display: block;
    top: 80%;
    right: 30%;
}

.organigram_content.img10 #ketua {
    left: 40%;
    top: 30%;
    color: white;
    font-size: 10rem;
}

.organigram_content.img10 .logo.organigram {
    top: 40%;
    left: 79%;
}

/* PERUBAHAN LAYOUT 11 */
.organigram_content.img11 #organigram {
    display: none;
}

.organigram_content.img11 .orang1 {
    display: none;
}

.organigram_content.img11 .box1.organigram>h1 {
    display: none;
}

.organigram_content.img11 .orang2 {
    height: 45vw;
    transform: translate(45%, 2%);
}

.organigram_content.img11 #ketua {
    left: 5%;
    top: 20%;
    color: #182645;
    font-size: 10rem;
}

.organigram_content.img11 .nama {
    display: block;
    top: 70%;
    right: 17%;
}

.organigram_content.img11 .nama2 {
    display: block;
    top: 80%;
    right: 0;
}

.organigram_content.img11 .nama3 {
    display: block;
    top: 60%;
    right: 35%;
}

.organigram_content.img11 .logo.organigram {
    top: 70%;
    left: 8%;
}

/* PERUBAHAN LAYOUT 12 */
.organigram_content.img12 #organigram {
    display: none;
}

.organigram_content.img12 .orang1 {
    display: none;
}

.organigram_content.img12 .box1.organigram>h1 {
    display: none;
}

.organigram_content.img12 .orang2 {
    height: 45vw;
    transform: translate(58%, 2%);
}

.organigram_content.img12 .nama {
    display: block;
    top: 70%;
    right: 30%;
}

.organigram_content.img12 .nama2 {
    display: block;
    top: 80%;
    right: 10%;
}

.organigram_content.img12 .nama3 {
    display: none;
}

.organigram_content.img12 #ketua {
    left: 5%;
    top: 20%;
    color: white;
    font-size: 10rem;
}

.organigram_content.img12 .logo.organigram {
    top: 40%;
    left: 6%;
}

.hero_section.img12::before {
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(0 0, 80% 0, 55% 100%, 0 100%);
    z-index: -2;
}

/* PERUBAHAN LAYOUT 13 */
.organigram_content.img13 #organigram {
    display: none;
}

.organigram_content.img13 .orang1 {
    display: none;
}

.organigram_content.img13 .box1.organigram>h1 {
    display: none;
}

.organigram_content.img13 .nama3 {
    display: none;
}

.organigram_content.img13 .orang2 {
    height: 45vw;
    transform: translate(80%, 2%);
}

.organigram_content.img13 .nama {
    display: block;
    top: 70%;
    right: 23%;
}

.organigram_content.img13 .nama2 {
    display: block;
    top: 80%;
    right: 7%;
}

.hero_section.img13::before {
    width: 35%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img13 #ketua {
    left: 5%;
    top: 20%;
    color: #182645;
    font-size: 10rem;
}

.organigram_content.img13 .logo.organigram {
    top: 40%;
    left: 5%;
}

/* PERUBAHAN LAYOUT 14 */
.organigram_content.img14 #organigram {
    display: none;
}

.organigram_content.img14 .orang1 {
    display: none;
}

.organigram_content.img14 .box1.organigram>h1 {
    display: none;
}


.organigram_content.img14 .orang2 {
    height: 55vw;
    transform: translate(0, -5%);
}

.hero_section.img14::before {
    width: 100%;
    background: linear-gradient(to bottom, transparent 50%, rgba(23, 23, 23, 0.3) 100%), linear-gradient(135deg, #73749c);
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    z-index: -2;
}

.organigram_content.img14 .nama {
    display: block;
    top: 70%;
    right: 43%;
}

.organigram_content.img14 .nama2 {
    display: block;
    top: 70%;
    right: 20%;
}

.organigram_content.img14 .nama3 {
    display: block;
    top: 70%;
    right: 65%;
}

.organigram_content.img14 #ketua {
    left: 30%;
    top: 20%;
    color: #182645;
    font-size: 10rem;
    display: block;
}

.organigram_content.img14 .logo.organigram {
    top: 28%;
    left: 78%;
}

#row_icon{
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10%;
    width: 50px;
    z-index: 999;
}

#row_icon:hover{
    opacity: 1;
    scale: 1.2;
}