@media (max-width: 768px) {

    .logo_navbar {
        display: none;
    }

    .mobile_nav{
        display: block;
    }

    .navbar ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
    }

    .header_nav{
        position: fixed;
        top: 0;
        z-index: 999;
    }

    .box1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero_content .box1 img{
        top: 35%;
        right: 0;
        height: 300px;
    }

    #btn_read_more_home{
        display: none;
    }

    .box1{
        align-items: center;
    }

    .navbar ul {
        /* display: flex; */
        background-color: #73749c;
    }

    .humberger_menu{
        display: block;
    }

    .popup {
        width: 100%;
    }

    .about_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        padding: 10px;
        height: auto;
        min-height: 90vh;
    }

    .box2.about {
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }

    .about_left {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .about_left p {
        font-size: 1rem;
        width: 100%;
        margin-bottom: 15px;
    }

    .about_left button {
        width: 50%;
        padding: 12px;
        align-self: center;
    }

    .about_right {
        padding: 10px;
        order: -1;
    }

    .about_right img {
        width: 100%;
        max-width: 300px;
        height: auto;
        filter: drop-shadow(10px 10px 5px #182645);
    }

    .box2.about {
        display: none;
    }

    .overlay_img {
        display: none;
    }

    /* LOGIN REGISTER */
    .popup {
        width: 90%;
    }

    .popup img {
        display: none;
    }

    .auth_card>div {
        width: 20%;
    }

    @keyframes slideLeft {
        from {
            opacity: 0.5;
            transform: translateX(-20%);
        }

        to {
            opacity: 1;
            transform: translateX(0);

        }
    }

    @keyframes slideRight {
        from {
            opacity: 0.5;
            transform: translateX(0);
        }

        to {
            opacity: 1;
            transform: translateX(-50%);
        }
    }
}

