
    <main>
        <!-- HERO SECTION -->
        <section class="hero_section">
             <%- include('../partials/navbar') %>
                <div class="about_content">
                    <div class="box2 about">
                        <img src="/img/asset/himpunan mahasiswa informatika_20251118_231232_0000.png" alt="Logo Himpunan Mahasiswa Informatika" class="logo" />
                        <p>Himpunan Mahasiswa Informatika</p>
                    </div>
                    <div class="about_left">
                        <p>Himpunan Mahasiswa Informatika (HIMIN) adalah organisasi mahasiswa yang bergerak
                            di bidang teknologi, inovasi, dan pengembangan sumber daya mahasiswa Informatika. Berdiri
                            sejak 2017, HIMIN menjadi wadah bagi mahasiswa untuk belajar, berkarya, dan berkolaborasi
                            melalui berbagai program kerja yang kreatif dan berorientasi pada peningkatan kompetensi.
                        </p>
                        <p>
                            Dengan slogan "Innovate, Collaborate, Elevate", HIMIN berkomitmen untuk menghadirkan
                            lingkungan yang inklusif, profesional, dan penuh kesempatan untuk berkembang di dunia
                            teknologi.
                        </p>
                        <button>Back The Page</button>
                    </div>
                    <div class="about_right">
                        <img src="/img/asset/Screenshot 2025-11-19 183745.webp" alt="about_right">
                    </div>
                    <img src="/img/asset/6_20251118_084832_0005.webp" alt="overlay_img" class="overlay_img">
                </div>
        </section>
        <!-- END OF HERO SECTION -->

        <!-- END OF MADDING -->
    </main>
    <script src="/js/member.js"></script>
