<section class="hero_section">
    <%- include('../partials/navbar', {isMember}) %>
        <div class="hero_content">
            <div class="box2">
                <img src="/img/asset/himpunan mahasiswa informatika_20251118_231232_0000.png"
                    alt="Logo Himpunan Mahasiswa Informatika" class="logo" />
                <p>Himpunan Mahasiswa Informatika</p>
            </div>
            <div class="box1">
                <div>
                    <img src="/img/asset/organigramBg.webp" alt="OSTIP Image" />
                </div>
                <h1>HIMIN</h1>
                <h1>HIMIN</h1>
                <p>
                    Himpunan Mahasiswa Informatika yang berfokus pada pengembangan teknologi, inovasi, dan komunitas.
                    Menjadi wadah bagi mahasiswa untuk belajar, berkarya, dan berkolaborasi melalui berbagai program
                    edukasi
                    serta kegiatan kreatif di bidang Informatika.
                </p>
            </div>
            <p>Ketua & Wakil Ketua Himpunan Mahasiswa Informatika</p>
            <button id="btn_read_more_home">Read More</button>
        </div>
</section>