
<%- include('../partials/navbar', isMember) %>
<main>
    <div class="background"></div>
    <div class="hero_section">
        <div class="info">
            <h1 class="title">INFO <br> ORGANISASI</h1>
            <p>Himpunan Mahasiswa Informatika</p>
        </div>
        <button id="btn_enter_information" class="">ENTER</button>
        <img src="/img/asset/himpunan mahasiswa informatika_20251118_231232_0000.png" alt="himpunanmahasiswa" id="logo">
    </div>
    <div class="madding_wrapper noneActive">
        <div class="madding_controll">
            <div class="controll_panel">
                <div class="general_controll">
                    <div class="search_controll">
                        <input type="search" placeholder="search here" id="search">
                        <% if (isMember) { %>
                            <img src="/img/asset/plus-square.svg" alt="" id="add_content_icon">
                        <% } %>
                    </div>
                    <div class="shorting_controll">
                        <div>
                            <button id="all">All</button>
                        </div>
                        <div>
                            <button id="lastest">Lastest</button>
                        </div>
                        <div>
                            <button id="oldest">
                                Oldest
                            </button>
                        </div>
                        <% if (isMember==true) { %>
                            <div>
                                <button id="pending">
                                    Pending
                                </button>
                            </div>
                            <div>
                                <button id="rejected">
                                    Rejected
                                </button>
                            </div>
                            <% } %>
                    </div>
                </div>
                <!-- <div>
                            <button>Add</button>
                        </div> -->
            </div>
        </div>
        <div class="madding_content">
            <div class="card_content">
                <img src="/img/exampleImg.png" alt="">
                <div>
                    <p>Info <br> Kehilangan</p>
                    <img src="/img/asset/info_35dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container_detail noneActive">
        <div class="card_detail">
            <div class="left_card">
                <h1></h1>
                <div class="card_detail_content">
                    <p></p>
                </div>
                <% if (isMember) { %>
                    <div class="btn_group">
                        <button class="btn_edit">Edit</button>
                        <button class="btn_delete">Delete</button>
                    </div>
                    <% } %>
            </div>
            <div class="right_card">
                <p>17/11/25</p>
                <img class="close_icon" src="/img/asset/cancel_35dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.png" alt="">
                <img class="thumbnail" src="" alt="">
            </div>
        </div>
    </div>
</main>