<!-- HERO SECTION -->
<section class="hero_section">
    <%- include('../partials/navbar') %>
    <div class="layout_container">

        <div class="organigram_content content">
            <div>
                <h2 id="organigram">ORGANIGRAM</h2>
                <button id="btn_read_more_organigram" class="organigram">Read More</button>
                <img src="/img/asset/himpunan mahasiswa informatika_20251118_231232_0000.png"
                    alt="Logo Himpunan Mahasiswa Informatika" class="logo organigram" />
                <img src="/img/asset/5_20251118_084832_0004.webp" alt="orang1" class="orang1">
                <img src="/img/asset/6_20251118_084832_0005.webp" alt="orang2" class="orang2">
                <div class="box1 organigram">
                    <h1>HIMIN</h1>
                    <h1>HIMIN</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<img id="row_icon" src="/img/asset/chevrons-right.svg" alt="row_icon">