<section id="dashboard_page" class="page">
    <div class="box2">
        <h1 class="welcome"></h1>
    </div>
   <%- include('../partials/highLight') %>
    <div class="dashboard_page_content">
        <div class="box4">
            <h1>Permison Approval</h1>
            <div class="dashboard_highlight_approval">
            </div>
        </div>
        <div class="box5">
            <canvas class="chart1"></canvas>
        </div>
        <div class="box6">
            <canvas class="chart2"></canvas>
        </div>
    </div>
</section>