
<section class="attendance_section">
    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th>Tanggal</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody class="tbody_attendance">
        </tbody>
    </table>
</section>
<script src="/js/manageAttendance.js"></script>