<section id="manage_account_page" class="page">
    <div class="manage_account_page_content">
        <div>
            <table class="table_users">
                <tr>
                    <th>Photo</th>
                    <th>Member Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="popup_update noneActive">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email">
        </div>
        <div>
            <label for="notelp">No Telp</label>
            <input type="text" id="notelp">
        </div>
        <button id="saveBtn">Save</button>
    </div>
</section> 